.footer-container {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: wheat;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
h4{
    color: rgba(0, 0, 0, 0.5);
}

.footer-left{
    margin-right: 250px;
    margin-left: 30px;
    text-align: left;
    font-size: 14px;
}
.footer-left img{
    width: 25px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.footer-about{
    text-decoration: none;
    font-size: 14px;
}
.footer-about:hover h4{
    text-decoration: underline;
    color:black;
    cursor: pointer;
}
.footer-mid{
    text-align: left;
    font-size: 14px;
    color: #333;
    margin: 0 25px
}
.footer-help{
    text-decoration: none;
    font-size: 14px;
}
.footer-help:hover h4{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.footer-right{
    margin-left: 280px;
    margin-right: 100px;
    margin-top: 0px;
    text-align: left;
    font-size: 14px;
    color: #333;
}