body{
  background-color: aqua;
}
.sell-item-com {
  display: flex;
  flex-direction: flex;
  align-items: flex;
  justify-content: center;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}
textarea.large {
      resize: none;
      height: 150px;  
      width: 400px;      
}
.flexx {
  display: flex;        /* จัดแนวนอน */
  align-items: baseline; /* label กับ input/textarea อยู่ในแนวเดียวกัน */
  margin-bottom: 16px;
  width: 100%;
}


.flexx label {
  width: 120px;        /* กำหนดความกว้าง label */
  margin-right: 16px;   /* ระยะห่างจาก input */
  text-align: right;    /* ให้เครื่องหมาย : อยู่ตรงกัน */
}
